.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  margin: 16px;
  background: #fff;
  img {
    width: 32px;
  }
  h1 {
    color: #1890ff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 8px;
    animation: face-in;
    animation-duration: 0.3s;
  }
}

@keyframes face-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.trigger:hover {
  color: #1890ff;
}


.site-layout .site-layout-background {
  background-color: transparent;
}
